.color-soft-red {
  color: var(--primary-soft-red);
}

.color-primary-moderate-blue {
  color: var(--primary-moderate-blue);
}

.bg-white {
  background-color: white;
}

.bg-very-light-gray {
  background-color: var(--neutral-very-light-gray);
}

.username {
  color: var(--neutral-dark-blue);
  font-weight: var(--fw-500);
}
